.features {
  background: var(--bg-color-1);
  padding: 7.9rem 0 8rem;
}
.features .col + .col {
  margin-left: 3.3rem;
}
.features__item--box {
  text-align: center;
}
.features__item--box .features__item--box-icon {
  width: 5.6rem;
  height: 5.6rem;
  font-size: 2.4rem;
  border-radius: 1.6rem;
  color: var(--white-color);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-bottom: 2.1rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.6s;
}
.features__item--box .features__item--box-icon:hover {
  transform: scale(1.1);
  background: linear-gradient(
    to right,
    rgba(50, 100, 245, 0.61) 2%,
    rgba(114, 2, 187, 0.6) 82%
  );
  box-shadow: 1px 1px 8px 1px rgb(0 0 0 / 30%);
  -webkit-box-shadow: 1px 1px 8px 1px rgb(0 0 0 / 30%);
  -moz-box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.3);
}

.box-icon--one {
  background-color: var(--main-color);
}
.box-icon--two {
  background-color: var(--primary-color-4);
}
.box-icon--three {
  background-color: var(--primary-color-5);
}
.box-icon--four {
  background-color: var(--primary-color-6);
}
.features__item--box h3 {
  color: var(--white-color);
  margin-bottom: 1.4rem;
  font-size: 2.2rem;
}
.features__item--box p {
  color: var(--primary-color-1);
  font-size: 1.4rem;
  line-height: 2.2rem;
}
