.profile {
  background-color: var(--bg-color-1);
}
.profile__media {
  width: 27%;
}
.profile__content {
  width: 67%;
  flex-direction: column;
  gap: 4rem;
}
.profile__pic {
  margin-bottom: 2rem;
  position: relative;
  overflow: hidden;
}
.profile__pic img {
  width: 100%;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}
.profile-pic__info {
  position: absolute;
  top: 0rem;
  left: 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  height: 100%;
  background: rgba(50, 100, 245, 0.63);
  background: -moz-linear-gradient(
    left,
    rgba(50, 100, 245, 0.61) 2%,
    rgba(114, 2, 187, 0.6) 82%
  );
  background: -webkit-linear-gradient(
    left,
    rgba(50, 100, 245, 0.61) 2%,
    rgba(114, 2, 187, 0.6) 82%
  );
  background: linear-gradient(
    to right,
    rgba(50, 100, 245, 0.61) 2%,
    rgba(114, 2, 187, 0.6) 82%
  );
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  transform: scale(0.4);
  opacity: 0;
}
.profile-pic__info h4,
.profile-pic__info i {
  transform: scale(1.3);
  opacity: 0;
  color: var(--white-color);
  font-size: 1.8rem;
}
.profile__pic:hover h4,
.profile__pic:hover i {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0.45s;
  transform: scale(1);
  opacity: 1;
}
.profile__pic:hover .profile-pic__info {
  transition-property: all;
  transition-duration: 0.4s;
  transition-timing-function: linear;
  transition-delay: 0s;
  transform: scale(1);
  opacity: 1;
}
.profile_card {
  border-radius: 2rem;
  margin-bottom: 2rem;
  padding: 2rem;
  background: var(--primary-color);
  box-shadow: 0.1rem -0.1rem 1.3rem rgb(33 53 68 / 57%);
  transition: 0.4s ease-out;
}
.profile-pic__actions {
  flex-direction: column;
  gap: 1.5rem;
}
.cover-upload__box {
  padding: 1.8rem 3rem;
  flex-basis: 30rem;
  border: 1px solid rgba(216, 202, 202, 0.14);
  border-radius: 0.8rem;
  -webkit-border-radius: 0.8rem;
  -moz-border-radius: 0.8rem;
  -ms-border-radius: 0.8rem;
  -o-border-radius: 0.8rem;
}
.cover-upload__image img {
  height: 100%;
  width: 100%;
  border-radius: 0.8rem;
  -webkit-border-radius: 0.8rem;
  -moz-border-radius: 0.8rem;
  -ms-border-radius: 0.8rem;
  -o-border-radius: 0.8rem;
}
.cover-upload__image--one {
  background: linear-gradient(216.56deg, #e250e5 5.32%, #4b50e6 94.32%);
  padding: 0.2rem;
  border-radius: 0.8rem;
  -webkit-border-radius: 0.8rem;
  -moz-border-radius: 0.8rem;
  -ms-border-radius: 0.8rem;
}
.profile__acc-info {
}
.profile__heading {
  color: var(--white-color);
  font-size: 2rem;
  margin-bottom: 2rem;
}
.profile__account-info,
.profile__account-social {
  width: 42%;
}
.form-input {
  position: relative;
  margin: 0.8rem 0 2rem;
}
.profile__input-field {
  margin-bottom: 3rem;
}
.profile__input-field label {
  color: var(--white-color);
  font-size: 1.5rem;
}
.profile__input-field input,
.profile__input-field textarea {
  display: block;
  width: 100%;
  padding: 1.5rem 3.1rem;
  outline: 0;
  border: 1px solid rgba(216, 202, 202, 0.14);
  background-color: transparent;
  border-radius: 0.8rem;
  -webkit-border-radius: 0.8rem;
  -moz-border-radius: 0.8rem;
  -ms-border-radius: 0.8rem;
  -o-border-radius: 0.8rem;
  font-size: 1.4rem;
  color: var(--primary-color-3);
  transition: border-color 0.15s ease-in-out;
  -webkit-transition: border-color 0.15s ease-in-out;
  -moz-transition: border-color 0.15s ease-in-out;
  -ms-transition: border-color 0.15s ease-in-out;
  -o-transition: border-color 0.15s ease-in-out;
}
.profile__input-field input:focus,
.profile__input-field input:active,
.profile__input-field textarea:focus,
.profile__input-field textarea:active {
  border: 1px solid var(--main-color);
}
.form-input i {
  position: absolute;
  font-size: 1rem;
  left: 1rem;
  top: calc(50% - 0.49em);
  font-size: 1.3rem;
  color: var(--primary-color-3);
}
.profile__input-field input:focus + i {
  color: var(--main-color);
}
.profile__account-social {
  padding-left: 3rem;
}
.profile__input-field .btn__primary {
  font-size: 1.4rem;
  padding: 1.2rem 3.5rem;
  background-color: var(--main-color);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.profile__input-field .btn__primary:hover {
  transform: translateY(-0.3rem);
  -webkit-transform: translateY(-0.3rem);
  -moz-transform: translateY(-0.3rem);
  -ms-transform: translateY(-0.3rem);
  -o-transform: translateY(-0.3rem);
}
.profile__input-field .btn__primary i {
  margin-right: 0.3rem;
}
.header__btn img {
  border-radius: 1rem;
}
/* dropzone customize */
.dropzone {
  min-height: 5rem;
  border: none !important;
  background: transparent;
  padding: 0rem 0rem;
  border: none;
  outline: 0;
}
.dropzone .dz-message {
  margin: 0em 0;
}
.dropzone.dz-started .dz-message {
  display: block;
}
.dropzone-click-target .btn {
  width: 100%;
}
.dropzone-click-target {
  cursor: pointer;
}
/* Responive */
@media only screen and (max-width: 991px) {
  .profile__media {
    width: 100%;
  }
  .profile__content {
    width: 100%;
  }
  .profile .container {
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 698px) {
  .profile__account-info,
  .profile__account-social {
    width: 100%;
  }
  .profile__account {
    flex-wrap: wrap;
  }
  .profile-cover__upload {
    flex-wrap: wrap;
  }
  .cover-upload__box {
    flex-basis: 46rem;
  }
  .cover-upload__image {
    width: 100%;
  }
  .profile__account-social {
    padding-left: 0rem;
  }
}
