#login {
  background: #1a1a3c;
  padding: 0 0;
  min-height: 100vh;
}

main #login .container {
  width: 1640px;
  max-width: 100%;
  padding-inline: 0em;
  justify-content: space-evenly;
}

.login__img {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.login__content {
  width: 40%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 100vh;
  gap: 2.5rem;
  padding: 7.2rem 0 7.2rem;
  background-color: #2a2a4a;
}

.login__img img {
  height: 56rem;
  opacity: 0.8;
}

.login__content h2 {
  color: var(--white-color);
  font-size: 2.75rem;
}

.login__form {
  max-width: 40rem;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 2rem;
}

.form__label {
  display: inline-block;
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
  color: var(--primary-color-1);
}

.login__form input {
  display: block;
  width: 100%;
  min-height: calc(1.5em + 1.65rem + 2px);
  padding: 1.5rem 2.8rem;
  font-size: 1.5rem;
  border-radius: 0.475rem;
  box-shadow: none;
  outline: none;
  background-color: transparent;
  border: 1px solid #48485c;
  text-align: left;
  padding-right: calc(1.5em + 1.5rem);
  color: var(--white-color);
  transition: border-color 0.15s ease-in-out;
  -webkit-transition: border-color 0.15s ease-in-out;
  -moz-transition: border-color 0.15s ease-in-out;
  -ms-transition: border-color 0.15s ease-in-out;
  -o-transition: border-color 0.15s ease-in-out;
}

.input-icons {
  position: absolute;
  font-size: 1rem;
  left: 1rem;
  top: calc(50% - 0.49em);
  font-size: 1.3rem;
  color: #878a99;
}

.login__form input:focus,
.login__form input:active {
  border: 1px solid var(--main-color);
}

.login__form input:focus+.input-icons {
  color: var(--main-color);
}

.form__input {
  width: 77%;
}

.form--submit .btn {
  background-color: var(--main-color);
  width: 100%;
  border-radius: 0.475rem;
  -webkit-border-radius: 0.475rem;
  -moz-border-radius: 0.475rem;
  -ms-border-radius: 0.475rem;
  -o-border-radius: 0.475rem;
  border: none;
  color: var(--white-color);
  font-size: 1.5rem;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.form--submit .btn:hover {
  transform: translateY(-0.3rem);
  -webkit-transform: translateY(-0.3rem);
  -moz-transform: translateY(-0.3rem);
  -ms-transform: translateY(-0.3rem);
  -o-transform: translateY(-0.3rem);
}

.form--submit .btn::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #483dc8;
  transition: all 0.3s;
  border-radius: 0.475rem;
  -webkit-border-radius: 0.475rem;
  -moz-border-radius: 0.475rem;
  -ms-border-radius: 0.475rem;
  -o-border-radius: 0.475rem;
  z-index: -1;
}

.form--submit .btn:hover:before {
  width: 100%;
}

.login__content .new-signup {
  font-size: 1.5rem;
  color: var(--white-color);
}

.login__content .new-signup a {
  color: var(--main-color);
  padding-left: 0.3rem;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.login__content .new-signup a:hover {
  color: #7b71e8;
}

.signin-other-title {
  position: relative;
  width: 31rem;
  text-align: center;
}

.signin-other-title span {
  color: var(--primary-color-1);
  padding: 0.2rem 2.6rem;
  display: inline-block;
  position: relative;
  background-color: #2a2a4a;
  font-size: 1.5rem;
}

.signin-other-title::before,
.signin-other-title:after {
  content: "";
  position: absolute;
  width: 43%;
  height: 0.1rem;
  background-color: rgba(128, 128, 128, 0.3);
  top: 10px;
  z-index: 900;
}

.signin-other-title::before {
  left: 0;
  right: 0;
}

.signin-other-title:after {
  left: auto;
  right: 0;
}

.login__social {
  display: flex;
  gap: 0.9rem;
}

.social__icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: calc(1.5rem + 1.5em + 2px);
  width: calc(1.5rem + 1.5em + 2px);
  padding: 0;
  font-size: 1.3rem;
  box-shadow: 0 0 5px rgb(0 0 0 / 50%);
  border-radius: 0.475rem;
  -webkit-border-radius: 0.475rem;
  -moz-border-radius: 0.475rem;
  -ms-border-radius: 0.475rem;
  -o-border-radius: 0.475rem;
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -ms-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

.social__icon:hover {
  border-radius: 50%;
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

.social__icon.social--facebook {
  background: #3b5999;
}

.social__icon.social--twitter {
  background: #55acee;
}

.social__icon.social--gmail {
  background: #dd4b39;
}

.social__icon.social--github {
  background: #333;
}

#password-show {
  top: 0;
  right: 0;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 1.8rem 1.5rem;
  font-size: 1rem;
  color: #878a99;
  cursor: pointer;
}

.form--password,
.form--email {
  position: relative;
}

.login__form input#password[type="text"]+#password-show .fa-eye::before {
  content: "\f2a8";
}

@media only screen and (max-width: 698px) {
  main #login .container {
    align-items: center;
    min-height: 100%;
  }

  .login__content {
    width: 85%;
    min-height: 55vh;
  }

  .login__img {
    display: none;
  }
}